/* stili globali */
* {
    margin: 0;
    box-sizing: border-box;
}

/* height 100vh per uniformità, riferimento per overlay */
.content {
    position: relative;
    height: 100vh;
    /* per margini attorno alle img mantenendo overlay solo all'interno */
    /* width: 98vw;
    margin: 1vh; */
}

/* ridimensionamento img */
.content img {
    width: 100%;
    height: 100vh;
}

/* overlay */
.opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .3;
}

/* testo centrato, stilato e responsive alla viewport */
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 10vw;
    text-shadow: 3px 3px #000000;
    letter-spacing: 20px;
    cursor: default;
}

/* pesudo elemento che cambia il content di .text in base all'attributo name */
.text::after {
    content: " "attr(name) "";
}

/* dove l'ombra cupa scende */
.text[name="Mordor"] {
    font-family: 'Rock Salt';
    text-shadow: 5px 5px #ee2929;
    letter-spacing: 15px;
}

.opacity[name="Mordor"] {
    background: #ee2929;
}

/* navbar */
/* fixed al top sempre al di sopra del contenuto */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #4f8baf;
    line-height: 50px;
    opacity: .7;
    z-index: 2;
}

/* styling logo */
#logo {
    padding-left: 15px;
    display: inline-block;
}

/* resizing */
#logo img {
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
}

/* position absolute per posizionarli al termine della barra */
#nav-list {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: default;
}

/* doveroso inline-block */
#nav-list li {
    list-style: none;
    display: inline-block;
}

/* styling link */
#nav-list li a {
    color: #ffffff;
    display: inline-block;
    padding: 0 20px;
    border-bottom: 3px solid transparent;
    font-family: 'Montserrat';
    font-size: 1vw;
    text-decoration: none;
}

/* border on hover */
#nav-list li a:hover {
    border-color: rgb(1, 190, 190);
}

/* sezione box con form */
/* styling del box */
#boxxer {
    height: 480px;
    width: 441px;
    position: absolute;
    top: 160px;
    left: 80px;
    background: #ffffff;
    border-radius: 4px;
    padding: 32px;
    padding-bottom: 24px;
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
    z-index: 1;
}

/* styling testo */
#box-text {
    padding-bottom: 15px;
    font-family: 'Montserrat';
    font-size: 25px;
    color: #484848;
    cursor: default;
}

/* padding dei form */
#form div {
    padding-bottom: 10px;
}

/* styling labels */
#form label {
    text-transform: uppercase;
    padding-bottom: 10px;
    font-family: 'Montserrat';
    color: #4f8baf;
}

/* styling input */
#form input {
    border: 1px solid #ebebeb;
    border-radius: 3px 0 0 3px;
    line-height: 3;
    font-size: 18px;
}

/* per il full width di where */
.full {
    width: 100%;
    padding-left: 10px;
}

/* per le label block */
.block {
    display: block;
}

/* quelle inline-block */
.in-block {
    display: inline-block;
}

/* dove metto il padding */
.padded {
    padding-right: 100px;
}

/* styling select menu to fix */
#form select {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 3px 0 0 3px;
    font-size: 20px;
    padding-top: 5px;
    color: #cccccc;
}

/* styling tasto */
#search {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-40%, -70%);
    border-radius: 30px;
    background: #ff1d1dc4;
    color: #ffffff;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

#vanity {
    width: 100%;
    line-height: 50px;
    text-align: center;
    background: #1b3c59;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1vw;
}

#vanity span {
    display: block;
}

#me {
    background: linear-gradient(#0051ff, #00b7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}