/* stili globali */
* {
    margin: 0;
    box-sizing: border-box;
}

/* position relative per riferimento */
#wrapper {
    /* background-color: rgb(85, 111, 196); */
    position: relative;
    height: 100vh;
}

/* margini e riferimento per overlay */
.content {
    position: relative;
    height: 100vh;
    background-size: cover;
}

/* ridimensionamento img */
.content img {
    width: 100%;
    height: 100vh;
}

/* overlay */
.opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .3;
}

/* testo centrato */
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 160px;
    text-shadow: 3px 3px #000000;
    letter-spacing: 20px;
    cursor: default;
}

/* ove l'ombra cupa scende */
.text.mordor {
    font-family: 'Rock Salt';
    text-shadow: 5px 5px #ee2929;
    letter-spacing: 15px;
}